extends S0-Base.pug

block content
  p 嗨 #{name}：
  p 歡迎您加入Arctics升學平台大家庭！
  p 提醒您仍需登入帳戶並上傳您的學生證，我們會盡快驗證您的身份。只有在身份驗證完成之後，學生才能在我們的平台上搜尋到您。
  button(style="font-size: 14px; padding: 8px 16px 8px 16px; border-radius: 6px; margin-bottom: 10px; color: #003b6b; border: none; background-color: #f2d60f; text-align: center;") #[a(style="text-decoration: none; color: #003b6b;" target="_blank" href="https://www.arctics.academy/login") 前往帳戶]
  p Arctics團隊 敬上